.wrapper{
  margin: 0 auto;
  width: 880px;
}
.form{
  p{
    margin: 18px 0 0;
  }
  input, textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 8px;
  }
  input{
    width: 50%;
  }
  textarea{
    width: 100%;
    height: 200px;
  }
}
.editor{
  margin-bottom: 60px;
  height: 200px;
}